.success-snackbar {
    background-color: #4CAF50; /* Color de fondo verde para mensajes de éxito */
    color: #fff; /* Color del texto en mensajes de éxito */
  }
  
  /* Estilos para el mensaje de error */
  .error-snackbar {
    background-color: #f44336; /* Color de fondo rojo para mensajes de error */
    color: #fff; /* Color del texto en mensajes de error */
  }
  
  /* Estilos generales para el snackbar */
  .mat-simple-snackbar {
    text-align: center; /* Alineación del texto al centro */
    font-size: 16px; /* Tamaño de fuente del mensaje */
    border-radius: 4px; /* Bordes redondeados */
    padding: 16px; /* Espaciado interior del snackbar */
  }