<header>
    <app-nav-bar></app-nav-bar>
</header>
<main>
    <!-- semestre.component.html -->
    <div>
        <h2>Registrar Semestre</h2>
        <form (submit)="crearSemestre()">
            <label for="fechaInicio">Fecha de inicio:</label>
            <input type="date" id="fechaInicio" [(ngModel)]="semestreData.fechaInicio" name="fechaInicio" required>
          
            <label for="fechaFin">Fecha de fin:</label>
            <input type="date" id="fechaFin" [(ngModel)]="semestreData.fechaFin" name="fechaFin" required>
          
            <label for="numeroSemestre">Número de semestre:</label>
            <input type="number" id="numeroSemestre" [(ngModel)]="semestreData.numeroSemestre" name="numeroSemestre" required>
          
            <label for="vigente">Vigente:</label>
            <input type="checkbox" id="vigente" [(ngModel)]="semestreData.vigente" name="vigente">
          
            <button type="submit">Crear Semestre</button>
          </form>
          
          
    </div>
    
</main>
