<nav id="navbar" class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid" style="padding-right: 50px;">
      <a class="navbar-brand" (click)="routLinkIrMenuOficinaPracticas()">
        <img id="logoNavbar" src="assets/img/USB-LOGO-01.png">
      </a>
      
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav ms-auto" id="navbarItems">
          
          <li class="nav-item dropdown">
            <a id="navBarTitles" class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" >Visualizar</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" >Visualizar listado docentes</a>
             
              
            </div>

          </li>
          
          <li class="nav-item dropdown">
            <a id="navBarTitles" class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" >Cargar archivos</a>
            <div class="dropdown-menu">
              <a class="dropdown-item">Listado de estudiantes<br> por semestre</a>
              <a class="dropdown-item"  >Listado de aspirantes</a>
            </div>

          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>
