
<body class="body">
    <header>
        <app-nav-bar> </app-nav-bar>
    </header>
    <main >
          
            <div class="container">
                <h1>Listado de Semestres</h1>
                <table>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Fecha de Inicio</th>
                      <th>Fecha de Fin</th>
                      <th>Número de Semestre</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let semestre of semestres">
                      <td>{{ semestre.id }}</td>
                      <td>{{ semestre.fechaInicio }}</td>
                      <td>{{ semestre.fechaFin }}</td>
                      <td>{{ semestre.numeroSemestre }}</td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
              
    </main>
    <footer>
    
    </footer>
        
        
</body>
