<header>
    <app-nav-bar-ofc-practicas></app-nav-bar-ofc-practicas>
</header>
<main>
<h1>Menú principal oficina de prácticas</h1>
<div>
    <div>
        <button (click)="routLinkVisualizarVerSemestre()" >Crear semestre</button><br>
        <button (click)="routerLinkCrearCoordinador()">Crear coordinador</button><br>
        <button (click)="routerLinkCrearPrograma()">Crear programa</button><br>
        <button (click)="routLinkVisualizarMenuInicial()">Volver al menú inicial</button>

    </div>
        
</div>
</main>
<footer>

</footer>