<div class="container">
  <h2>Cargar Listado de Estudiantes</h2>
  <br>
  <div style="padding-bottom: 10px;">
    <label>Elige el año: </label>
    <input type="number" name="year" min="1900" max="2099" step="1" value="2022" (change)="onYearChange($event)">
    <label> Selecciona el semestre: </label>
    <select name="semester" (change)="onSemesterChange($event)">
      <option value="01">01</option>
      <option value="02">02</option>
    </select>
    <br><br>
    <label> Semestre seleccionado {{semestreSeleccionado}}</label>
  </div>
  <div>
    <input type="file" accept=".xls,.xlsx" (change)="onFileSelected($event)" />
  </div>
  <div>
    <button type="submit" class="btn btn-primary" (click)="uploadFile()">Cargar Archivo</button>
  </div>
  
  


</div>
