<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="body/home">
        <img id="logoNavbar" src="assets/img/USB-LOGO-01.png">
      </a>
      
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav ms-auto" id="navbarItems">
          
          <li class="nav-item dropdown">
            <a  (click)="routLinkVisualizarListadoAspirantes()">Visualizar listado aspirantes</a>
          </li>
          
          <li class="nav-item dropdown">
            <a id="navBarTitles" class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" >Cargar archivos</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="routLinkCargarEstudiantes()">Listado de estudiantes por semestre</a>
              <a class="dropdown-item"  (click)="routLinkCargarAspirantes()">Listado de aspirantes</a>
            </div>

          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>
