<header>
    <app-nav-bar> </app-nav-bar>
</header>
<body class="body">
    
    <main>
          
            <h2>menu inicial</h2>
        <div>
            <button (click)="routLinkVisualizarCrearSemestre()">Crear semestre</button><br>

            <button>Visualizar estado de semestres</button><br>
            <button (click)="routLinkVisualizarCrearDocente() ">Crear Docente monitor</button>

            <button (click)="routLinkVisualizarVerSemestre()">Visualizar estado de semestres</button><br>
            <button>Crear Docente monitor</button>

        </div>
            
    </main>
    <footer>
    
    </footer>
        
        
</body>
