<header>
    <app-nav-bar> </app-nav-bar>
</header>
<body class="body">
    
    <main>
          
            <h2>menu inicial</h2>
        <div>
            <button (click)="routLinkVisualizarVerSemestre()">Visualizar estado de semestres</button><br>
            <button>Crear Docente monitor</button><br>
            <button (click)="routLinkVisualizarMenuInicial()">Volver al menu inicial</button>
            <button (click)="routLinkAsignarEstudiantesDocentes()">
                Asignar estudiantes a docentes (al azar)
            </button>
        </div>
            
    </main>
    <footer>
    
    </footer>
        
        
</body>
