
<body class="body">
    <header>
        <app-nav-bar-ofc-practicas></app-nav-bar-ofc-practicas>
    </header>
    <main >
          <div class="form-group">
          <input style="width: 50%;" type="text" class="form-control" [(ngModel)]="searchText" placeholder="Buscar...">
        </div>
            <div class="container">
                <h1>Listado de Semestres</h1>
                <table>
                  <thead>

                    <tr>
                      <th>ID</th>
                      <th>Nombre programa</th>
                      <th>Codigo de programa</th>
                      <th>Coordinador</th>
                    </tr> 
                  </thead>
                  <tbody>
                    <tr *ngFor="let programa of programas" [hidden]="!matchesFilter(programa)">
                      <td>{{ programa.id }}</td>
                      <td>{{ programa.programaNombre }}</td>
                      <td>{{ programa.programaCodigo }}</td>
                      <td>{{ programa.idCoordinador }}</td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
              
    </main>
    <footer>
    
    </footer>
        
        
</body>
