
<header>
<app-nav-bar> </app-nav-bar>
</header>
<body>
  <div id="container_total">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2>Cargar Listado de Estudiantes</h2>
          <br>
          <div style="padding-bottom: 10px;">
          
            <label><b>Semestre seleccionado: {{numeroSemestre}}</b><span id="semestreSeleccionado"></span></label>
        </div>
        
          <div>
            <input type="file" id="fileInput" accept=".xls,.xlsx" (change)="onFileSelected($event)" />
          </div>
          <div><br>
            <button id="upload-button" class="btn btn-primary" (click)="uploadFile()">Cargar Archivo</button>
          </div>
          <div class="notification-area" *ngIf="notificationMessage">
            {{ notificationMessage }}
            <button class="close-button" (click)="clearNotification()">X</button>
          </div>
          
          
        
        </div>
        <div class="col-md-5">
          <h5>Los semestres disponibles son:</h5><br>
          <div id="container_coordinadores">
              <input type="text" [(ngModel)]="filtro" placeholder="Buscar por número" class="busqueda-input">
              <br><br>
              <div class="coordinador-container">
                  <div *ngFor="let semestre of semestres " [hidden]="!matchesFilter(semestre)" class="coordinador-card" (click)="seleccionarSemestre(semestre.numeroSemestre)">
                      <p><b>Numero del semestre:</b> {{semestre.numeroSemestre}} </p>
                      
                  </div>
              </div>
          </div>
          
      </div>
      </div>
    </div>
    
  </div>
  
</body>

